VITE_SUPABASE_URL=https://kozpynpjwqeynmhcbqpx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtvenB5bnBqd3FleW5taGNicXB4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY2OTU0MDUsImV4cCI6MjEwMjI3MTQwNX0.HqtPfjwQgLmW1lNdBm-8CERmHmx6HW2vtLIyXteHerw
